#body {
  background-color: white;
}
#Payment {
  box-sizing: border-box;
  width: 700px;
  display: flex;
  justify-content: space-between;
  padding: 40px 40px 60px 40px;
  margin: auto;
  margin-top: 30px;
}

#Payment > :nth-child(1) > :nth-child(1) {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 40px;
}
#Payment > :nth-child(1) > :nth-child(2) {
  margin-bottom: 30px;
  /* font-size: ; */
  font-weight: 500;
  width: 110px;
  text-align: center;
  padding: 8px 0px;
  background-color: black;
  color: white;
}
#Payment > :nth-child(1) > :nth-child(3) {
  width: 250px;
  font-size: 34px;
  font-weight: bold;
  line-height: 60px;
  margin-bottom: 30px;
}
#Payment > :nth-child(1) > :nth-child(4) {
  font-size: 20px;
  font-weight: 500;
}
#Payment > :nth-child(2) {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#Payment > :nth-child(2) > :nth-child(1) {
  width: 60px;
}
#Payment > :nth-child(2) > :nth-child(2) {
  width: 30px;
  margin-left: 20px;
}